<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amorepacific.iris.user.portal.mapper.UserMapper">
    <select id="login" parameterType="String" resultType="com.amorepacific.iris.user.portal.dto.UserDto">
        SELECT
        	'testuser' 	userId
        	, '1'		userPw
        	, '테스트'	teamNm
    </select>
</mapper>